<form [formGroup]="form" (ngSubmit)="onSubmit()" class="employee-form">

  <div class="row g-4">

    <div class="col-12 col-md-6">
      <label class="label">First Name</label>
      <div class="input-icon">
        <i class="bi bi-person"></i>
        <input type="text" formControlName="firstName" [readonly]="readonly" placeholder="Enter first name">
      </div>
    </div>

    <div class="col-12 col-md-6">
      <label class="label">Last Name</label>
      <div class="input-icon">
        <i class="bi bi-person"></i>
        <input type="text" formControlName="lastName" [readonly]="readonly"placeholder="Enter last name">
      </div>
    </div>

    <div class="col-12 col-md-6">
      <label class="label">Email</label>
      <div class="input-icon">
        <i class="bi bi-envelope"></i>
        <input type="email" formControlName="email" [readonly]="readonly" placeholder="Enter email">
      </div>
    </div>

    
    <div class="col-12 col-md-6">
      <label class="label">Phone</label>
      <div class="input-icon">
        <i class="bi bi-telephone"></i>
        <input type="text" formControlName="phone" [readonly]="readonly" placeholder="Enter phone number">
      </div>
    </div>

    <div class="col-12 col-md-6">
      <label class="label">Hire Date</label>
      <div class="input-icon">
        <i class="bi bi-calendar"></i>
        <input type="date" formControlName="hireDate" [readonly]="readonly">
      </div>
    </div>

    <div class="col-12 col-md-6">
      <label class="label">Salary</label>
      <div class="input-icon">
        <i class="bi bi-currency-dollar"></i>
        <input type="number" formControlName="salary" [readonly]="readonly" placeholder="Enter salary">
      </div>
    </div>

    <div class="col-12 col-md-6">
  <label class="label">Department</label>
  <div class="input-icon">
    <i class="bi bi-building"></i>
    <input
      type="text"
      formControlName="department"
      [readonly]="readonly"
      placeholder="Enter department">
  </div>
</div>

<div class="col-12 col-md-6">
  <label class="label">Position</label>
  <div class="input-icon">
    <i class="bi bi-briefcase"></i>
    <input
      type="text"
      formControlName="position"
      [readonly]="readonly"
      placeholder="Enter position">
  </div>
</div>

  </div>

  <div class="text-end mt-5" *ngIf="!readonly">
    <button type="submit"  class="submit-btn">
      ✓ Submit
    </button>
  </div>

</form>