<div class=" d-flex justify-content-center align-items-start p-3 p-md-5">

  <div class="employee-card w-100">


    <div class="employee-header d-flex justify-content-between align-items-start">
      <div *ngIf="!readonly">
        <h2 class="title mb-1">Update Employee</h2>
        <p class="subtitle mb-0">Update the profile of your employee</p>
      </div>

      <div *ngIf="readonly">
        <h2 class="title mb-1">View Employee</h2>
        <p class="subtitle mb-0">View the profile of your employee</p>
      </div>

        <div class="d-flex justify-content-end align-items-center gap-2">

            <div *ngIf="readonly" class="d-flex gap-2">
                <button class="edit-delete-employee-btn" (click)="onDeleteEmployee()">Delete</button>
                <button class="edit-delete-employee-btn" (click)="onEditEmployee()">Edit</button>
            </div>

            <button class="btn-close" (click)="onCancel()"></button>

        </div>
    </div>


    <div class="employee-body">
      <employee-form   [employee]="employee" [readonly]="readonly" (submitForm)="updateEmployee($event)"></employee-form>
      
      <div class="mt-4" *ngIf="vouchers.length > 0">
            <h4 class="mb-3">Employee Vouchers</h4>
            <app-generic-table
            [data]="vouchers"
            [columns]="voucherColumns"
            (view)="onViewVoucher($event)"
            (edit)="onEditVoucher($event)"
            (delete)="onDeleteVoucher($event)">
            </app-generic-table>
      </div>
 
    
    </div>

  </div>
</div>


