<form class="voucher-form">

  <div [formGroup]="headerForm">

    <div class="row g-4 mb-3">

      <div class="col-md-4">
        <label class="form-label">Voucher Number</label>
        <input
          type="number"
          class="form-control"
          formControlName="voucherNumber"
          placeholder="Enter voucher number">
      </div>

      <div class="col-md-4">
        <label class="form-label">Employee</label>

        <select
          class="form-select"
          formControlName="employeeId">

          <option value="">Select employee</option>

          <option
            *ngFor="let emp of employees"
            [value]="emp.employeeId">

            {{emp.firstName}} {{emp.lastName}}

          </option>

        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="date">
      </div>

    </div>

    <div class="row mb-4">

      <div class="col-12">
        <label class="form-label">Description</label>

        <textarea
          class="form-control"
          rows="3"
          formControlName="description"
          placeholder="Write voucher description">
        </textarea>

      </div>

    </div>

  </div>

  <hr class="mb-4">

  <div [formGroup]="itemForm" *ngIf="!readonly">

    <div class="row g-4">

      <div class="col-md-5">
        <label class="form-label">Item Description</label>

        <input
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Item description">
      </div>

      <div class="col-md-3">
        <label class="form-label">Amount</label>

        <input
          type="number"
          class="form-control"
          formControlName="amount">
      </div>

      <div class="col-md-2">
        <label class="form-label">Type</label>

        <select
          class="form-select"
          formControlName="type">

          <option [value]="0">Debit</option>
          <option [value]="1">Credit</option>

        </select>
      </div>

      <div class="col-md-2 d-flex align-items-end" *ngIf="!readonly">

        <button
          type="button"
          class="btn btn-primary w-100"
          (click)="addVoucherItem()">

          Add Item

        </button>

      </div>

    </div>

  </div>

  <div class="text-end mt-4" *ngIf="!readonly">

    <button
      type="button"
      class="btn btn-success"
      (click)="submit()">

      Submit Voucher

    </button>

  </div>

</form>